.heading {
	@include mq(sp) {
		padding: 30px 0 20px;
	}
	padding: 75px 0 50px;
	text-align: center;
	line-height: 1;
	color: color(dark_blue);
	&:after {
		@include set(25px, $margin: 0 auto, $height: 6px);
		display: block;
		content: "";
		background-color: color(heading_pink);
	}
	&__main {
		@include mq(nonSp) {
			font-size: fz(pc_xxxl);
		}
		@include font(20, $weight: 500);
		margin-bottom: 18px;
	}
	&__sub {
		@include mq(nonSp) {
			font-size: fz(pc_s);
		}
		@include font(sp_xs, $transform: up);
		margin-bottom: 20px;
	}
}