.l-inner {
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
	@include mq(nonSp) {
		width: 100%;
		max-width: 910px;
		margin: 0 auto;
		overflow: hidden;
	}
}

// 例外
.section__inner.l-inner.staff {
	overflow: visible;
}

.map__inner.l-inner {
	@include mq(sp) {
		width: 100%;
	}
}

@for $value from 2 through 5 {
	.l-col#{$value} {
		display: inline-block;
		width: round(100% / $value) - 1;
	}
}